@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}
.container{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(./assets/img/gallery/bg.jpg);
}
.forms-container{
    width: 90%;
    height: 90%;
    background-color: white;
    position: relative;
    left: 5%;
    top: 5%;
}
.signin-signup{
    position: relative;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border-radius: 30px;
    box-shadow: 0 0 20px 9px #007bff;
}
.sign-in-form{
    width: 50%;
}
.signin-signup .logo{
    font-size: 3rem;
    color: #000;
    margin-left: 25%;
    padding-top: 5%;
    text-decoration: none;
}
.signin-signup .logo i{
    color:#007bff;
}
.signin-signup h2{
    padding-top: 20px;
    padding-left: 28px;
    color: #444;
    font-size: 2.2rem;
    padding-bottom: 1rem;
}
.signin-signup h3{
    margin: 20px 30px 0px 42px;
    font-size: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}
.signin-signup h3 a{
    padding-left: 5px;
    font-size: 1.25rem;
    color:#007bff;
    text-decoration: none;
}
.signin-signup h3 a:hover{
    color: #007bff;
}
.signin-signup label{
    margin-top: 2px;
    margin-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
    color: #007bff;
}
.input-field{
    padding-left: 20px;
    margin: 14px 0 10px 40px;
   background-color: #f0f0f0; 
    border-radius: 30px;
    height: 2.5rem;
    width: 70%;
}
.input-field i{
    text-align: center;
    line-height: 1;
    color: #acacac;
    font-size: 1.5rem;
}
.input-field input{
    border-radius: 30px;
    height: 2.5rem;
    width: 83%;
    line-height: 1;
    color: #333;
    margin-left: 2.5%;
    margin-bottom: 5%;
    font-weight: 600;
    background: transparent;
    border: none;
    outline: none;
}
.reme{
    padding-left: 2.5%;
}
.btnsolid{
    margin-top: 0.5rem;
    margin-left: 32.5%;
    padding: .5rem;
    border: .2rem solid #007bff;
    border-radius: 30px;
    width: 30%;
    box-shadow: .5rem .5rem 0 rgba(22,160,133, .2);
    color: #007bff;
    cursor: pointer;
    font-size: .75rem;
    transition: .5s ease-in-out;
}
.btnsolid:hover{
    background-color: #007bff;
    color: #fff;
}
.pic{
    position: absolute  ;
    height: 100%;
    width: 50%;
    left: 50%;
    top: 0;
    border-radius: 30px;
}
.pic .eff{
	height: 100%;
    width: 100%;   
    border-radius: 30px;
    background-color:#007bff;
    opacity:50%;
}
.pic img{
    height: 100%;
    width: 100%;   
    border-radius: 30px;
}