@charset "ISO-8859-1";
.background{
    border: 10px solid #3931af;
    border-radius: 20px;
    height: 50%;
    position: absolute;
    top: 20%;
    width: 50%;
    left: 25%;
}
.intro{
    position: relative;
    top: 5%;
    left: 42%;
    font-weight: 600;
    color: #3931af;
    font-size: 50px;
    margin-bottom: 10px;
}
.bsec{
    border-top: 10px solid #3931af;
    font-size: 20px;
    padding-left: 10px;
}
.bsec  h4{
    position:relative;
    font-style: oblique;
}
.ibg{
    background-color: cornflowerblue;
    border-radius: 20px;
    height: 50px;
    width: 30%;
    position: relative;
    left:35%;
}
.ibg input{
    border-radius: 20px;
    height: 90%;
    width: 95%;
    color: white;
   background-color: transparent;
}
.btn{
    margin-top: 0.5rem;
    margin-left: 37%;
    margin-top: 1rem;
    border: .2rem solid #3931af;
    border-radius: 20px;
    width: 25%;
    height: 2rem;
    box-shadow: .25rem .25rem 0#8c86dd;
    color: #3931af;
    cursor: pointer;
    font-size: .8rem;
    transition: .5s ease-in-out;
    font-weight: 500;
}
.btn input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: black;
    font-weight: 600;
    border: none;
    font-style: inherit;
    border-radius: 20px;
}
.btn input:hover{
    background-color:#3931af;
    color: aliceblue;
}