.pic{
    width: 100%;
    height: 96vh;
}
.pic img{
    width: 100%;
    height: 96vh;
}
.data{
    background-color: #fff;
    width: 40%;
    height: 50vh;
    position: absolute;
    top: 20%;
    left: 30%;
    border-radius: 20px;
    border: 5px solid #16a085;
}
.head{
    border-bottom: 3.5px solid #16a085;
    margin-top: 5px;
}
.head label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: #16a080;
    padding-left: 20%;
}
.form{
    width: 100%;
    height: 30%;
    margin-top: 5px;
}
.info{
    height: 100%;
    width: 100%;
}
.form label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #16a085;
}
.label{
    margin-top: 5%;
    margin-left: 35%;
}
.form input{
    margin-top: 10px;
    margin-left: 25%;
    width: 50%;
    border: none;
    border-bottom: 3.5px solid #16a085;
    cursor: Text;
    font-size: 16px;
}
.form button{
    margin-left: 35%;
    width: 32%;
    font-size: 16px;
    background-color: #16a080;
    color: #fff;
    border-radius: 5px;
    height: 10vh;
    margin-top: 10%;
}